<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Evan Cen">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Evan professional website"
    <title>Evan Cen</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="../static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body onload=" addYear()">
    <header>
        <h1 id="webname"> Evan Cen</h1>
        <nav id="myTopnav" class="topnav">
            <a href="index.html" class="active">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For fun</a>
            <a href="javascript:void(0);" class="icon" >

                <i class="fa fa-bars" onclick="activeNav()"></i>
 
              </a>
        </nav>
    </header>
    <div class="main">
        <h2 id="greeting"></h2>
        <img id="classA" src="../static/photo.jpg" alt="Evan Cen profile image" width="350px">
        <div class="classA">

            <span id="shortIntro">I am Evan Cen, an Information Systems student at Carnegie Mellon University. In my free time I like playing and watching soccer, as well as trying new foods and traveling. </span>
            
            <span id="readMore"> read more ...</span>
            
            <span id="longIntro">Some of my favorite places that I have been to are Seoul, Zurich, Tokyo, and Shanghai. I was born in Michigan but grew up in California, and have been living there for most of my life. What I am hoping to achieve from this class is to be able to have a grasp of the systems that are typically put into place at corporations of any level. I also want to be able to determine the effectiveness of such systems, as well as build these systems myself for future projects and ideas I might have. In conclusion, I hope I can obtain both technical and soft skills from this class and have a better understanding of the modern corporate landscape.</span>
            
            <span id="readLess"> read less</span>
            
            </div>
    </div>
    <footer>
        <p id="copyYear">Evan Cen &copy</p>
    </footer>
</body>
</html>